::ng-deep :root {
  --color-primary: #A0522D;
  --color-primary-dark: #783E22;
  --color-primary-dark-rgb: 120, 62, 34;
  --color-primary-light: #C76739;
  --color-primary-light-rgb: 199, 103, 57;
  --color-primary-lighter: #FEFBFA;
  --color-primary-darker: #502917;

  --color-secondary: #223178;
  --color-secondary-dark: #172150;
  --color-secondary-light: #2D41A0;
}

.header {
  background-color: var(--color-primary);
  height: 5rem;
  display: flex;
  padding: 0 2rem;

  &__right-section {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.header-link {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  padding: 0 0.5rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: all .2s;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: var(--color-primary-light);
  }

  &:active {
    background-color: var(--color-primary-lighter);
    color: var(--color-primary);
  }
}

.header-user {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__icon {
    margin-right: 1rem;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
  }
}


.main-container {
  background-color: var(--color-primary-lighter);
  padding: 5rem 0;
}

.jokes-lists {
  max-width: 80rem;
  margin: 0 auto;
}

.jokes-list {
  padding: 1rem 0;
  &:not(:last-child) {
    margin-bottom: 5rem;
  }

  &__title {
    font-size: 6rem;
    font-weight: 300;
    color: var(--color-secondary-light);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__joke {

    background: white;
    padding: 2rem 4rem;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &__content {
      font-size: 1.6rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }

    &__action {
      border-top: 1px solid lightgray;
      padding-top: 0.5rem;
      display: flex;
      justify-content: space-between;

      &__meta {
        line-height: 1.3;
        font-size: 1rem;
        color: gray;
        font-size: 600;
      }

      &__vote {

          display: flex;
          align-items: flex-end;

          &__count {
            margin-right: 1rem;
            color: var(--color-secondary-light);
            font-size: 1.3rem;
            font-weight: 900;
          }

          &__icon {
            cursor: pointer;
          }
      }
    }
  }
}

.add-joke-container {
  background-color: var(--color-primary);
  min-height: 20rem;
  padding: 2rem 0;
}

.add-joke {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 4rem;

  &__title {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__message {
    color: white;
    font-size: 1.4rem;

    &__link {
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        background-color: var(--color-primary-light);
      }

      &:active {
        background-color: var(--color-primary-lighter);
        color: var(--color-primary);
      }
    }
  }


}
