<header class="header">
  <div class="header__right-section">
    <button class="header-button header-button--login">Se connecter</button>
    <button class="header-button header-button--signup">S'inscrire</button>
  </div>
</header>

<div class="banner"></div>

<div class="main-container">
  <div class="jokes-lists">
    <div class="jokes-list">
      <div class="jokes-list__title">Nouveautés</div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
    </div>

    <div class="jokes-list">
      <div class="jokes-list__title">Top 10</div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
      <div class="jokes-list__joke">
        <div class="jokes-list__joke__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla tincidunt erat, vel porttitor tellus rutrum viverra. Nulla et orci quis risus maximus imperdiet vitae vitae purus. Donec posuere sed nisl id consectetur. Integer leo purus, accumsan nec tempus non, convallis sit amet eros. Cras nunc quam, iaculis at elit.
        </div>
        <div class="jokes-list__joke__action">
            ...
        </div>
      </div>
    </div>
  </div>
</div>

<div class="add-joke-container">
  <div class="add-joke">
    <h1 class="add-joke__title">Ajouter un joke</h1>
    <p>...</p>
  </div>
</div>

<!--
<router-outlet></router-outlet>
-->
