<header class="header">
  <div routerLink="/" class="header__left-section">
    <div class="header-home__icon">
      <fa-icon [icon]="faToilet" size="3x" [styles]="{'color': 'white'}"></fa-icon>
    </div>
    <div class="header-home__title">ShittyJokes</div>
  </div>
  <div class="header__right-section">
    <ng-template #showLogin>
      <div routerLink="/login" class="header-link">Se connecter</div>
    </ng-template>

    <div *ngIf="auth.user | async as user; else showLogin" class="header-user">
      <div class="header-user__icon">
        <fa-icon [icon]="faUser" size="2x" [styles]="{'color': 'white'}"></fa-icon>
      </div>
      <div class="header-user__name">{{ user.displayName }}</div>
      <div class="header-user__logout-icon" (click)="logout()">
        <fa-icon [icon]="faArrowAltCircleRight" size="2x" [styles]="{'color': 'white'}"></fa-icon>
      </div>
    </div>

  </div>
</header>

<div class="main-container">
  <router-outlet></router-outlet>
</div>

<div class="add-joke-container">
  <div class="add-joke">
    <div class="add-joke__title">Ajouter une joke</div>
    <ng-template #showUnavailableMessage>
      <p class="add-joke__message" >Vous devez être <span routerLink="/login" class="add-joke__message__link">connecté</span> pour ajouter une joke.</p>
    </ng-template>


    <div *ngIf="auth.user | async as user; else showUnavailableMessage" class="add-joke__form">
      formulaire...
    </div>
  </div>
</div>
